/* Standard Classes */
h1 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 30px 0;
}
h2 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 30px 0;
}
h3 {
  text-align: center;
  font-size: 14px;
}
h4 {
  font-size: 10px;
}
textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
div.card {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Classes for changing text colour */
.NegativeTransaction {
  color: #ff0000;
}

.PositiveTransaction {
  color: MediumSeaGreen;
}

/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

/* Simple thin table */
.table-thin {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}
.table-thin td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

/* Fancy table I got from the internet */
.fl-table {
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  align-items: center;
}

.fl-table td,
.fl-table th {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 14px;
}

.fl-table .grey-tr {
  color: #d1caca;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* For the tags of what found the candidates*/

.tag-final {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.875em;
  font-weight: 600;
  color: #ffffff;
  background-color: green;
  border-radius: 0.25em;
  white-space: nowrap;
}

.tag-chi2 {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.875em;
  font-weight: 600;
  color: #ffffff;
  background-color: blue;
  border-radius: 0.25em;
  white-space: nowrap;
}

.tag-peak {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.875em;
  font-weight: 600;
  color: #ffffff;
  background-color: red;
  border-radius: 0.25em;
  white-space: nowrap;
}

@media (min-width: 1059px) {
  #rating-side-card {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    max-width: 350px;
    /* margin-top: 1.5%; */
    /* order: -1 !important; */
  }
}

@media (max-width: 1058.99px) {
  #rating-side-card {
    width: 100%;
  }

  #rating-card-container {
    order: 1 !important;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}

/* For table sorting arrows */

.sort-arrow {
  display: hidden;
  width: 0;
  height: 0;
  /* margin-left: 5px; */
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.sort-asc {
  border-top: 5px solid black;
  display: inline-block;
}
.sort-desc {
  border-bottom: 5px solid black;
  display: inline-block;
}

/* Apply centering to all table elements */
td,
th {
  text-align: center;
}
tr {
  text-align: center;
}

.note-table-cell {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-container {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 1px;
  padding-top: 15px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 20px;
}

select {
  width: 180px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

option {
  white-space: pre-wrap; /* Allow text wrapping inside options */
}
