# PostgreSQL settings
DB_NAME=ywangvaster
DB_USERNAME=ywangvaster
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Do not remove, otherwise postgres container won't initialise properly
POSTGRES_PASSWORD=

# Django settings
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 vaster.duckdns.org vaster-staging.duckdns.org
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
