volumes:
  django_media:
    # driver: local
    # driver_opts:
    #   type: "none"
    #   o: "bind"
    #   device: "<path-to-volume>/django_media"
  postgres_data:
    # driver: local
    # driver_opts:
    #   type: "none"
    #   o: "bind"
    #   device: "<path-to-volume>/postgres_data"
  django_static:
    # driver: local
    # driver_opts:
    #   type: "none"
    #   o: "bind"
    #   device: "<path-to-volume>/django_static"
