{% extends 'candidate_app/header.html' %} {% block content %}
<title>Home</title>
<div class="container" style="width: 100%">
    <h2>About</h2>

    <p> How to upload candidates to the webapp. </p>
    <p>Please make sure you use your valid upload token and change the path to the candidates. </p>

    <code>
        python3 upload_cand.py --base_url http://ywangvaster.duckdns.org --token 12345 --project_id
        project_name --observation_id SB50230 --data_directory
        candidates/
    </code>
</div>






{% endblock %}

<!-- Update the user's token using a post requests -->
<script>
    async function getToken(create = false) {
        $.ajax({
            url: '{% url "get_token" %}',
            type: "POST",
            data: {
                create: create,
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
            },
            success: function (response) {
                divToUpdate = document.getElementById('tokenToUpdate');
                divToUpdate.innerText = response.token;
            },
            error: function (error) {
                // Handle error response
                console.log(`Error getting token: ${error.responseText}`);
            },
        });
    }

    // On page render, run the getToken function to give the user their upload token
    document.addEventListener('DOMContentLoaded', getToken(false))

    async function copyUserToken() {

        let tokenDiv = document.getElementById('tokenToUpdate');
        navigator.clipboard.writeText(tokenDiv.innerText);

        let button = document.getElementById('copyTokenButton')
        let originalText = button.innerText;
        button.innerText = "Copied!"

        setTimeout(function () {
            button.innerText = originalText;
        }, 5000);

    }
</script>