{% extends 'candidate_app/header.html' %}

{% load utils %}

{% block content %}

<title>Candidates</title>
<h1>Candidates</h1>

<div class='container-fluid'
  style="width:85%; margin: 0 auto; padding-bottom: 1px;  padding-top: 15px; background-color: #D3D3D3; border-radius: 5px; margin-bottom: 20px">

  <form id='candidate-filter-form' method="post">
    {% csrf_token %}

    <div class='accordion' id='filter-accordion'>

      <div class='accordion-item'>

        <h2 class="accordion-header" id="categories-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#filter-category-panel" aria-expanded="true" aria-controls="filter-category-panel">
            Categories
          </button>
        </h2>

        <div id="filter-category-panel" class="accordion-collapse collapse show" aria-labelledby="categories-heading"
          data-bs-parent="#filter-category-panel">
          <div class='accordion-body d-flex'>

            <div class='container-fluid'>

              <div class="row">
                <div class='col'>

                  <h5>Observation</h5>

                  <div class='col hstack gap-2 '>
                    <div class="fieldWrapper">
                      {{ form.observation.errors }}
                      <label for="{{ form.observation.id_for_label }}">SBID:</label>
                      {{ form.observation }}
                    </div>
                  </div>

                </div>

                <div class='col'>

                  <h5>Beam index</h5>

                  <div class='fieldWrapper'>
                    {{ form.beam_index.errors }}
                    <label for="{{ form.beam_index.id_for_label }}">Beam:</label>
                    {{ form.beam_index }}
                  </div>
                </div>

                <div class='col'>

                  <h5>Deep Num</h5>

                  <div class='fieldWrapper'>
                    {{ form.deep_num.errors }}
                    <label for="{{ form.deep_num.id_for_label }}">Deep:</label>
                    {{ form.deep_num }}
                  </div>
                </div>

                <div class='col'>

                  <h5>Ratings</h5>

                  <div class='vstack gap-2' style="padding-bottom: 10px">
                    <div class="fieldWrapper">
                      <label for="{{ form.rated.id_for_label }}">Rated: </label>
                      {{ form.rated }}
                    </div>

                    <div class="fieldWrapper">
                      <label for="{{ form.confidence.id_for_label }}">Real variable? </label>
                      {{ form.confidence }}
                    </div>

                    <div class="fieldWrapper">
                      {{ form.tag.errors }}
                      <label for="{{ form.tag.id_for_label }}">Tag: </label>
                      {{ form.tag }}
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class='accordion-item'>

        <h2 class="accordion-header" id="coordinates-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#filter-coord-panel" aria-expanded="false" aria-controls="filter-coord-panel">
            Cone search
          </button>
        </h2>

        <div id="filter-coord-panel" class="accordion-collapse collapse" aria-labelledby="coordinates-heading"
          data-bs-parent="#filter-coord-panel">
          <div class='accordion-body d-flex'>

            <div class='container-fluid'>
              <div class='row'>
                <div class='col'>
                  <h4>Candidate position:</h4>
                  <div class="fieldWrapper">
                    {{ form.cand_ra_str.errors }}
                    <label for="{{ form.cand_ra_str.id_for_label }}">RA (HH:MM:SS):</label>
                    {{ form.cand_ra_str }}
                  </div>
                  <div class="fieldWrapper">
                    {{ form.cand_dec_str.errors }}
                    <label for="{{ form.cand_dec_str.id_for_label }}">Dec (DD:MM:SS):</label>
                    {{ form.cand_dec_str }}
                  </div>
                  <div class="fieldWrapper">
                    {{ form.cand_arcmin_search_radius.errors }}
                    <label for="{{ form.cand_arcmin_search_radius.id_for_label }}">Candidate search radius
                      (arcmin):</label>
                    {{ form.cand_arcmin_search_radius }}
                  </div>
                </div>

                <div class='col'>
                  <h4>Beam position:</h4>
                  <div class="fieldWrapper">
                    {{ form.beam_ra_str.errors }}
                    <label for="{{ form.beam_ra_str.id_for_label }}">RA (HH:MM:SS):</label>
                    {{ form.beam_ra_str }}
                  </div>
                  <div class="fieldWrapper">
                    {{ form.beam_dec_str.errors }}
                    <label for="{{ form.beam_dec_str.id_for_label }}">Dec (DD:MM:SS):</label>
                    {{ form.beam_dec_str }}
                  </div>
                  <div class="fieldWrapper">
                    {{ form.beam_arcmin_search_radius.errors }}
                    <label for="{{ form.beam_arcmin_search_radius.id_for_label }}">Beam search radius
                      (arcmin):</label>
                    {{ form.beam_arcmin_search_radius }}
                  </div>
                </div>

                <div class='col'>
                  <h4>Deep position:</h4>
                  <div class="fieldWrapper">
                    {{ form.deep_ra_str.errors }}
                    <label for="{{ form.deep_ra_str.id_for_label }}">RA (HH:MM:SS):</label>
                    {{ form.deep_ra_str }}
                  </div>
                  <div class="fieldWrapper">
                    {{ form.deep_dec_str.errors }}
                    <label for="{{ form.deep_dec_str.id_for_label }}">Dec (DD:MM:SS):</label>
                    {{ form.deep_dec_str }}
                  </div>
                  <div class="fieldWrapper">
                    {{ form.deep_arcmin_search_radius.errors }}
                    <label for="{{ form.deep_arcmin_search_radius.id_for_label }}">Deep search radius
                      (arcmin):</label>
                    {{ form.deep_arcmin_search_radius }}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="accordion-item">

        <h2 class="accordion-header" id="statistics-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#filter-float-panel" aria-expanded="false" aria-controls="filter-float-panel">
            Candidate statistics
          </button>
        </h2>

        <div id="filter-float-panel" class="accordion-collapse collapse" aria-labelledby="statistics-heading"
          data-bs-parent="#filter-float-panel">
          <div class='accordion-body d-flex'>

            <div class='container-fluid'>
              <div class='row'>
                {% if default_float_values.chi_square__gte|is_not_nan_or_none and default_float_values.chi_square__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label="Chi square" id="chi_square" num-sliders="2"
                    slider-min="{{default_float_values.chi_square__gte}}"
                    slider-max="{{default_float_values.chi_square__lte}}"
                    initial-values="[{{updated_float_values.chi_square__gte}}, {{updated_float_values.chi_square__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.chi_square_sigma__gte|is_not_nan_or_none and default_float_values.chi_square_sigma__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Chi square sigma' id="chi_square_sigma" num-sliders="2"
                    slider-min="{{default_float_values.chi_square_sigma__gte}}"
                    slider-max="{{default_float_values.chi_square_sigma__lte}}"
                    initial-values="[{{updated_float_values.chi_square_sigma__gte}}, {{updated_float_values.chi_square_sigma__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.chi_square_log_sigma__gte|is_not_nan_or_none and default_float_values.chi_square_log_sigma__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Chi square log sigma' id="chi_square_log_sigma" num-sliders="2"
                    slider-min="{{default_float_values.chi_square_log_sigma__gte}}"
                    slider-max="{{default_float_values.chi_square_log_sigma__lte}}"
                    initial-values="[{{updated_float_values.chi_square_log_sigma__gte}}, {{updated_float_values.chi_square_log_sigma__lte}}]" />
                </div>
                {% endif %}
              </div>

              <hr />

              <div class='row'>
                {% if default_float_values.peak_map__gte|is_not_nan_or_none and default_float_values.peak_map__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Peak map' id="peak_map" num-sliders="2"
                    slider-min="{{default_float_values.peak_map__gte}}"
                    slider-max="{{default_float_values.peak_map__lte}}"
                    initial-values="[{{updated_float_values.peak_map__gte}}, {{updated_float_values.peak_map__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.peak_map_sigma__gte|is_not_nan_or_none and default_float_values.peak_map_sigma__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Peak map sigma' id="peak_map_sigma" num-sliders="2"
                    slider-min="{{default_float_values.peak_map_sigma__gte}}"
                    slider-max="{{default_float_values.peak_map_sigma__lte}}"
                    initial-values="[{{updated_float_values.peak_map_sigma__gte}}, {{updated_float_values.peak_map_sigma__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.peak_map_log_sigma__gte|is_not_nan_or_none and default_float_values.peak_map_log_sigma__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Peak map log sigma' id="peak_map_log_sigma" num-sliders="2"
                    slider-min="{{default_float_values.peak_map_log_sigma__gte}}"
                    slider-max="{{default_float_values.peak_map_log_sigma__lte}}"
                    initial-values="[{{updated_float_values.peak_map_log_sigma__gte}}, {{updated_float_values.peak_map_log_sigma__lte}}]" />
                </div>
                {% endif %}
              </div>

              <hr />

              <div class='row'>
                {% if default_float_values.gaussian_map__gte|is_not_nan_or_none and default_float_values.gaussian_map__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Gaussian map' id="gaussian_map" num-sliders="2"
                    slider-min="{{default_float_values.gaussian_map__gte}}"
                    slider-max="{{default_float_values.gaussian_map__lte}}"
                    initial-values="[{{updated_float_values.gaussian_map__gte}}, {{updated_float_values.gaussian_map__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.gaussian_map_sigma__gte|is_not_nan_or_none and default_float_values.gaussian_map_sigma__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Gaussian map sigma' id="gaussian_map_sigma" num-sliders="2"
                    slider-min="{{default_float_values.gaussian_map_sigma__gte}}"
                    slider-max="{{default_float_values.gaussian_map_sigma__lte}}"
                    initial-values="[{{updated_float_values.gaussian_map_sigma__gte}}, {{updated_float_values.gaussian_map_sigma__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.std_map__gte|is_not_nan_or_none and default_float_values.std_map__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Std map' id="std_map" num-sliders="2"
                    slider-min="{{default_float_values.std_map__gte}}"
                    slider-max="{{default_float_values.std_map__lte}}"
                    initial-values="[{{updated_float_values.std_map__gte}}, {{updated_float_values.std_map__lte}}]" />
                </div>
                {% endif %}
              </div>

              <hr />

              <div class='row'>
                {% if default_float_values.beam_sep_deg__gte|is_not_nan_or_none and default_float_values.beam_sep_deg__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Beam sep deg' id="beam_sep_deg" num-sliders="2"
                    slider-min="{{default_float_values.beam_sep_deg__gte}}"
                    slider-max="{{default_float_values.beam_sep_deg__lte}}"
                    initial-values="[{{updated_float_values.beam_sep_deg__gte}}, {{updated_float_values.beam_sep_deg__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.md_deep__gte|is_not_nan_or_none and default_float_values.md_deep__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Modulation index' id="md_deep" num-sliders="2"
                    slider-min="{{default_float_values.md_deep__gte}}"
                    slider-max="{{default_float_values.md_deep__lte}}"
                    initial-values="[{{updated_float_values.md_deep__gte}}, {{updated_float_values.md_deep__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.deep_sep_arcsec__gte|is_not_nan_or_none and default_float_values.deep_sep_arcsec__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Deep sep arcsec' id="deep_sep_arcsec" num-sliders="2"
                    slider-min="{{default_float_values.deep_sep_arcsec__gte}}"
                    slider-max="{{default_float_values.deep_sep_arcsec__lte}}"
                    initial-values="[{{updated_float_values.deep_sep_arcsec__gte}}, {{updated_float_values.deep_sep_arcsec__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.deep_peak_flux__gte|is_not_nan_or_none and default_float_values.deep_peak_flux__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Deep peak flux' id="deep_peak_flux" num-sliders="2"
                    slider-min="{{default_float_values.deep_peak_flux__gte}}"
                    slider-max="{{default_float_values.deep_peak_flux__lte}}"
                    initial-values="[{{updated_float_values.deep_peak_flux__gte}}, {{updated_float_values.deep_peak_flux__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.deep_int_flux__gte|is_not_nan_or_none and default_float_values.deep_int_flux__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Deep int flux' id="deep_int_flux" num-sliders="2"
                    slider-min="{{default_float_values.deep_int_flux__gte}}"
                    slider-max="{{default_float_values.deep_int_flux__lte}}"
                    initial-values="[{{updated_float_values.deep_int_flux__gte}}, {{updated_float_values.deep_int_flux__lte}}]" />
                </div>
                {% endif %}

                {% if default_float_values.bright_sep_arcmin__gte|is_not_nan_or_none and default_float_values.bright_sep_arcmin__lte|is_not_nan_or_none %}
                <div class='col d-flex justify-content-center'>
                  <multi-input-slider label='Bright sep (arcmin)' id="bright_sep_arcmin" num-sliders="2"
                    slider-min="{{default_float_values.bright_sep_arcmin__gte}}"
                    slider-max="{{default_float_values.bright_sep_arcmin__lte}}"
                    initial-values="[{{updated_float_values.bright_sep_arcmin__gte}}, {{updated_float_values.bright_sep_arcmin__lte}}]" />
                </div>
                {% endif %}

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </form>

  <form id='clear-candidate-filter-form' method="post" action="{% url 'clear_candidates_filter' %}">
    {% csrf_token %}
  </form>

  <div id='filter-buttons' style="padding: 20px; display: flex; justify-content: space-between;">
    <button class="btn btn-danger" type="submit" form='clear-candidate-filter-form'>Reset filters</button>
    <button class="btn btn-primary" type="submit" form='candidate-filter-form'>Filter</button>
  </div>

</div>

{% if page_obj %}
<div style="width:85%; margin-top: 20px; margin: auto;">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-primary">
      <th onclick="sortTable('candidate-tbody', 0)">Name
        <span class="sort-arrow" id="arrow-0">

      </th>
      <th onclick="sortTable('candidate-tbody', 1, 'string')">
        RA (HH:MM:SS.SS)
        <span class="sort-arrow" id="arrow-1" />
      </th>
      <th onclick="sortTable('candidate-tbody', 2, 'string')">
        Dec (DD:MM:SS.SS)
        <span class="sort-arrow" id="arrow-2" />
      </th>
      <th onclick="sortTable('candidate-tbody', 3)">
        SBID
        <span class="sort-arrow" id="arrow-3" />
      </th>
      <th onclick="sortTable('candidate-tbody', 4)">
        Beam
        <span class="sort-arrow" id="arrow-4" />
      </th>

      {% if selected_project_id == "All projects" %}
      <th onclick="sortTable('candidate-tbody', 5)">
        Project ID
        <span class="sort-arrow" id="arrow-5" />
      </th>
      {% endif %}

      {% for filtered in filtered_columns %}

      {% if selected_project_id == "All projects" %}
      <th onclick="sortTable('candidate-tbody', {{ forloop.counter|add:4 }})">
        {{ filtered|get_label_mapping:column_labels }}
        <span class="sort-arrow" id="arrow-{{ forloop.counter|add:4 }}" />
      </th>

      {% else %}

      <th onclick="sortTable('candidate-tbody', {{ forloop.counter|add:2 }})">
        {{ filtered|get_label_mapping:column_labels }}
        <span class="sort-arrow" id="arrow-{{ forloop.counter|add:2 }}" />
      </th>
      {% endif %}


      {% endfor %}

    </thead>

    <tbody id='candidate-tbody'>

      {% for cand in page_obj %}
      <tr>
        <td><a href="/candidate_rating/{{cand.hash_id}}/">{{cand.name}}</a></td>

        <td>{{cand.ra_str}}</td>
        <td>{{cand.dec_str}}</td>
        <td>{{cand.observation.id}}</td>
        <td>{{cand.beam.index}}</td>

        {% if selected_project_id == "All projects" %}
        <td>{{cand.project.id}}</td>
        {% endif %}

        {% for filtered in filtered_columns %}

        {% if filtered == 'observation.id' %}

        <td>{{ cand.observation.id }}</td>

        {% elif filtered == "rating.tag.name" %}

        <td>{{ tag_filter_name}}</td>

        {% elif filtered == "beam.index" %}

        <td>{{ cand.beam.index}}</td>

        {% elif filtered == "rating.confidence" %}

        <td>{{ confidence_filter|get_label_mapping:CONFIDENCE_MAPPING }}</td>

        {% else %}

        <td>{{ cand|get_attr:filtered|floatformat:2 }}</td>
        {% endif %}

        {% endfor %}

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% include "candidate_app/pagination.html" %}

{% else %}

<h2>No candidates found!</h2>

{% endif %}

<script>
  async function resetFiltering() {

    // Send an ajax request to he backend to remove the session data and reset the filtering on the page. 
    // Send AJAX post request to clear the fitlering from the request.session data.


    $.ajax({
      url: '{% url "clear_candidates_filter" %}',
      type: "POST",
      data: {
        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
        clear_filter_data: "True"
      },
      success: function (response) {
        console.log("-------------------------------------------------------------------")
        console.log(response);

        // redirect("{% url 'candidates' %}")
        window.location.assign("{% url 'candidates' %}");
      },
      error: function (error) {
        // Handle error response
        alert(`Error clearing filtering request.session data `);
      },
    });

  }
</script>

{% endblock %}