<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <script src={% static  "js/multiInputSlider.js" %}></script>
  {% comment %} <script src={% static  "js/gifControl.js" %}></script> {% endcomment %}

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
  </script>

  <!-- Font library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- JQuery -->
  {% comment %} <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script> {% endcomment %}
  {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Echarts plotting script-->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

  {% block head %} {% endblock head %}
</head>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">YWang VASTER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% comment %} <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/obs_summary/">Observations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/beam/">Beams</a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/candidate_table/">Candidates</a>
        </li>
        {% comment %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/session_settings/">Session Settings</a>
        </li> {% endcomment %}
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/ratings/">Ratings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/page_admin/">Page Admin</a>
        </li>
        {% endif %}
      </ul>

      <span class="navbar-text">

        {% if user.is_authenticated %}
        <div class='container-fluid'>
          <div class="row align-items-center gap-1">
            <div class="col-md-auto">
              <span class="navbar-text active">{{ user.username }}</span>
            </div>
            <div class="col-md-auto">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#manageModal">
                User Mangement
              </button>
            </div>
            {% comment %} TODO Later - users can change their own pw {% endcomment %}
            {% comment %} <a class="nav-link" href="{% url 'password_change' %}">Change Password</a> {% endcomment %}

            <div class="col-md-auto">
              <form class="form-inline d-inline" action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-success" type="submit">Logout</button>
              </form>
            </div>
          </div>
        </div>

        {% else %}

        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class='d-flex align-items-center gap-3'>
            <div>
              {% if messages %}
              {% for message in messages %}
              <span class="text-warning navbar-text">
                {{ message }}
              </span>
              {% endfor %}
              {% else %}
              <span class="navbar-text active">Please log in</span>
              {% endif %}
            </div>
            <div>
              <input class=" form-control" type="text" placeholder="Username" aria-label="Username" name="username"
                id="id_username" />
            </div>
            <div> <input class="form-control" type="password" placeholder="Password" aria-label="Password"
                name="password" id="id_password" />
            </div>
            <div>
              <button class="btn btn-outline-success" type="submit">Login</button>
            </div>
          </div>
        </form>

        {% endif %}

      </span>

    </div>
</nav>

<!-- Modal for the user management-->
<div class="modal" id="manageModal" tabindex="-1" aria-labelledby="manageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class='modal-header align-items-right'>
        <button type="button" class="btn-danger btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <h2>Upload token</h2>

        <div class="vstack gap-3 align-items-center justify-content-center">
          <text>Your token to use when uploading candidates to this webapp:</text>
          <code id='tokenToUpdate' style="color: grey"> </code>
          <button class="btn btn-primary" onclick="getToken('true')">Refresh token</button>
        </div>

        <hr />

        <h2>Session settings</h2>
        <form method="post">
          {% csrf_token %}
          <!-- Display any errors from logging in -->
          {% if form.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endif %}

          <h4>Project selection</h4>
          <p>Please choose which project to view</p>
          <div class="form-check">
            {% for value, text in projects %}
            <input {% if value == form.project.value %} checked="checked" {% endif %} class="form-check-input"
              type="radio" name="project" id="{{ value }}" value="{{ value }}">
            <label class="form-check-label" for="{{ value }}">{{ text }}</label><br>
            {% endfor %}
          </div>

          {% comment %} <h4>Candidate ordering</h4>
          <div class="form-check">
            {% for value, text in order_choices %}
            <input {% if value == form.ordering.value %} checked="checked" {% endif %} class="form-check-input"
              type="radio" name="ordering" id="{{ value }}" value="{{ value }}">
            <label class="form-check-label" for="{{ value }}">{{ text }}</label><br>
            {% endfor %}
          </div> {% endcomment %}

          {% comment %} <h4>Candidate filtering: ranking</h4>
          <div class="form-check">
            {% for value, text in filter_choices %}
            <input {% if value == form.filtering.value %} checked="checked" {% endif %} class="form-check-input"
              type="radio" name="filtering" id="{{ value }}" value="{{ value }}">
            <label class="form-check-label" for="{{ value }}">{{ text }}</label><br>
            {% endfor %}
          </div> {% endcomment %}

          {% comment %} <h4>Candidate filtering: observing frequency</h4>
          <div class="form-check">
            <input {% if form.exclude_87.value %} checked="checked" {% endif %} class="form-check-input" type="checkbox"
              name="exclude_87" id="id_exclude_87">
            <label class="form-check-label" for="id_exclude_87">Exclude 87 MHz</label><br>
            <input {% if form.exclude_118.value %} checked="checked" {% endif %} class="form-check-input"
              type="checkbox" name="exclude_118" id="id_exclude_118">
            <label class="form-check-label" for="id_exclude_118">Exclude 118 MHz</label><br>
            <input {% if form.exclude_154.value %} checked="checked" {% endif %} class="form-check-input"
              type="checkbox" name="exclude_154" id="id_exclude_154">
            <label class="form-check-label" for="id_exclude_154">Exclude 154 MHz</label><br>
            <input {% if form.exclude_184.value %} checked="checked" {% endif %} class="form-check-input"
              type="checkbox" name="exclude_184" id="id_exclude_184">
            <label class="form-check-label" for="id_exclude_184">Exclude 184 MHz</label><br>
            <input {% if form.exclude_200.value %} checked="checked" {% endif %} class="form-check-input"
              type="checkbox" name="exclude_200" id="id_exclude_200">
            <label class="form-check-label" for="id_exclude_200">Exclude 200 MHz</label><br>
            <input {% if form.exclude_215.value %} checked="checked" {% endif %} class="form-check-input"
              type="checkbox" name="exclude_215" id="id_exclude_215">
            <label class="form-check-label" for="id_exclude_215">Exclude 215 MHz</label><br>
          </div> {% endcomment %}

          <input type="submit" class="btn btn-primary" name="Submit">
        </form>
      </div>
    </div>
  </div>0

</div>

<body>
  {% block content %} {% endblock %}
</body>

<!-- Update the user's token using a post requests -->
<script>
  async function getToken(create = false) {
    $.ajax({
      url: '{% url "get_token" %}',
      type: "POST",
      data: {
        create: create,
        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
      },
      success: function (response) {
        divToUpdate = document.getElementById('tokenToUpdate');
        divToUpdate.innerText = response.token;
      },
      error: function (error) {
        // Handle error response
        console.log(`Error getting token: ${error.responseText}`);
      },
    });
  }

  // On page render, run the getToken function to give the user their upload token
  document.addEventListener('DOMContentLoaded', getToken(false))
</script>

</html>