{% extends 'candidate_app/header.html' %} {% block content %}
<title>Home</title>
<div class="container py-4">
  <h1>YWang VASTER Classification Tool</h1>

  <p>This webapp has been made to quickly go through a number of candidates from the VASTER project.</p>

  <p>Details of how to use this webapp can be found on
    <a href="https://ywangvaster.readthedocs.io/en/latest/">readthedocs</a>.
  </p>

  <p>
    Source code of this web application can be on the ADACS
    <a href="https://github.com/ADACS-Australia/YWang.VASTER">Github</a>.
  </p>


</div>

{% endblock %}