{% extends 'candidate_app/header.html' %}

{% load utils %}

{% block content %}

<!-- -->
{{ ratings_per_user|json_script:"ratings_per_user" }}

<!-- -->
{{ ratings_per_tag|json_script:"ratings_per_tag" }}

<title>Ratings</title>
<h1>Ratings</h1>

{% if page_obj %}

<div class='container-fluid' style="width:85%;">
    <div class='row'>
        <div class='col' id="chart-ratings-by-user" style="min-width: 600px; height: 500px;">
        </div>
        <div class='col' id="chart-ratings-by-tag" style="min-width: 600px; height: 500px;">
        </div>
    </div>
</div>

{% endif %}

<div id='ratings-form' class='container-fluid justify-content-center'
    style="width:85%; margin: 0 auto; padding-bottom: 1px;  padding-top: 15px; background-color: #D3D3D3; border-radius: 5px; margin-bottom: 20px">

    <div class="d-flex justify-content-center">
        <h5>{{selected_project_id}}</h5>
    </div>

    <div class='d-flex justify-content-center'>

        <form id='ratings-filter-form' method="post" action="." style="max-width: 1500px">
            {% csrf_token %}
            {{ form.as_p }}
        </form>

        <form id='clear-ratings-filter-form' method="post" action="{% url 'clear_ratings_filter' %}">
            {% csrf_token %}
        </form>
    </div>

    <div class='hstack gap-5' id='filter-buttons' style=" padding-bottom: 20px; display: flex;
    justify-content: center;">

        <button class="btn btn-danger" type="submit" form='clear-ratings-filter-form'>Reset filters</button>
        <button class="btn btn-primary" type="submit" form='ratings-filter-form'>Filter</button>

        {% if page_obj %}
        <a href="?download=csv" class="btn btn-success">
            Filtered Ratings CSV
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path
                    d="M11.292 16.706a1 1 0 0 0 1.416 0l3-3a1 1 0 0 0-1.414-1.414L13 13.586V4a1 1 0 0 0-2 0v9.586l-1.293-1.293a1 1 0 0 0-1.414 1.414zM17 19H7a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2z"
                    style="fill: #1c1b1e" />
            </svg>
        </a>
        {% endif %}
    </div>

</div>


{% if page_obj %}

<div class='container-fluid' id='ratings-table' style="width: 85%">
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-primary">
            <tr>

                {% if user.is_staff %}
                <th></th>
                {% endif %}

                {% if selected_project_id == "All projects"%}
                <th scope="col" onclick="sortTable('rating-summary-table-body', 1)">
                    Project
                    <span class="sort-arrow" id="arrow-1" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 2)">
                    Observation
                    <span class="sort-arrow" id="arrow-2" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 3)">
                    Candidate
                    <span class="sort-arrow" id="arrow-3" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 4)">
                    Rating
                    <span class="sort-arrow" id="arrow-4" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 5)">
                    Tags
                    <span class="sort-arrow" id="arrow-5" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 6)">
                    User
                    <span class="sort-arrow" id="arrow-6" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 7, 'date')">
                    Date
                    <span class="sort-arrow" id="arrow-7" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 8)">
                    Notes
                    <span class="sort-arrow" id="arrow-8" />
                </th>

                {% else %}

                <th scope="col" onclick="sortTable('rating-summary-table-body', 0)">
                    Observation
                    <span class="sort-arrow" id="arrow-0" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 1)">
                    Candidate
                    <span class="sort-arrow" id="arrow-1" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 2)">
                    Rating
                    <span class="sort-arrow" id="arrow-2" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 3)">
                    Tags
                    <span class="sort-arrow" id="arrow-3" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 4)">
                    User
                    <span class="sort-arrow" id="arrow-4" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 5, 'date')">
                    Date
                    <span class="sort-arrow" id="arrow-5" />
                </th>
                <th scope="col" onclick="sortTable('rating-summary-table-body', 6)">
                    Notes
                    <span class="sort-arrow" id="arrow-6" />
                </th>

                {% endif %}

            </tr>
        </thead>
        <tbody id='rating-summary-table-body'>
            {% for rating in ratings %}
            <tr>
                {% if user.is_staff %}
                <td>
                    <button class="btn btn-danger btn-sm"
                        onclick="deleteRating('{{rating.candidate.name}}', '{{rating.tag}}', '{{ rating.hash_id }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                            <path
                                d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z" />
                        </svg>
                    </button>
                </td>
                {% endif %}

                {% if selected_project_id == "All projects"%}
                <td>{{ rating.candidate.project.id }}</td>
                {% endif %}
                <td>{{ rating.candidate.observation.id }}</td>
                <td><a href={% url 'candidate_rating' rating.candidate.hash_id %}
                        style="text-decoration:None">{{ rating.candidate.name }}</a></td>
                <td>{{ rating.rating|get_label_mapping:CONFIDENCE_MAPPING }}</td>
                <td>{{ rating.tag.name }}</td>
                <td>{{ rating.user }}</td>
                <td>{{ rating.date|isoformat }}</td>
                <td style="max-width: 150px">{{ rating.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "candidate_app/pagination.html" %}

{% else %}

<h2>No ratings found!</h2>

{% endif %}

<script type="text/javascript">
    // Data for the chart by user
    let ratingsByUsers = JSON.parse(document.getElementById("ratings_per_user").textContent);
    let ratingsByTags = JSON.parse(document.getElementById("ratings_per_tag").textContent);

    // Initialize chart for ratings by user
    let chartRatingsByUser = echarts.init(document.getElementById('chart-ratings-by-user'));
    let userNames = ratingsByUsers.map(item => item.user__username);
    let userCounts = ratingsByUsers.map(item => item.count);

    // Define colors for each user
    let userColors = ['#5470C6', '#91CC75', '#FAC858', '#EE6666', '#73C0DE', '#3BA272', '#FC8452', '#9A60B4',
        '#FF6E40'
    ];
    let optionRatingsByUser = {
        animation: false,
        title: {
            text: 'Ratings per User'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: userNames
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'bar',
            data: userCounts,
            itemStyle: {
                color: (params) => userColors[params.dataIndex % userColors.length]
            }
        }]
    };
    chartRatingsByUser.setOption(optionRatingsByUser);

    // Add event listener for window resize
    window.addEventListener("resize", () => {
        chartRatingsByUser.resize();
    });

    // Initialize chart for ratings by tag
    let chartRatingsByTag = echarts.init(document.getElementById('chart-ratings-by-tag'));
    let tagNames = ratingsByTags.map(item => item.tag__name);
    let tagCounts = ratingsByTags.map(item => item.count);

    // Define colors for eachtag (standard echarts colours)
    let tagColors = ['#5470C6', '#91CC75', '#FAC858', '#EE6666', '#73C0DE', '#3BA272', '#FC8452', '#9A60B4',
        '#FF6E40'
    ];
    let optionRatingsByTag = {
        animation: false,
        title: {
            text: 'Ratings per Classification Tag'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: tagNames
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'bar',
            data: tagCounts,
            itemStyle: {
                color: (params) => tagColors[params.dataIndex % tagColors.length]
            }
        }]
    };
    chartRatingsByTag.setOption(optionRatingsByTag);

    // Add event listener for window resize
    window.addEventListener("resize", () => {
        chartRatingsByTag.resize();
    });
</script>

<script>
    // Function to delete an observation from the DB. 
    function deleteRating(candidateName, ratingTag, hashId) {
        let confirmStr =
            `Are you sure you want to delete the rating for candidate "${candidateName}" of tag "${ratingTag}" - rating.hash_id "${hashId}" ?`;
        if (confirm(confirmStr)) {
            // Send AJAX post request to the delete URL.
            $.ajax({
                url: '{% url "delete" %}',
                type: "POST",
                data: {
                    hashId: hashId,
                    recordType: "rating",
                    csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                    console.log(response);
                    alert(
                        `Successfully deleted the rating for "${candidateName}" "${ratingTag}" from the DB ${response["deleted_hashId"]}`
                    );
                    location.reload()
                },
                error: function (error) {
                    // Handle error response
                    alert(`Error deleting rating for ${candidateName}: ${error.responseText}`);
                },
            });
        }
    }
</script>

{% endblock %}