{% extends 'candidate_app/header.html' %}

{% load utils %}

{% block content %}

{% comment %} {% if user.is_staff %} {% endcomment %}



<!-- -->
{{ ratings_per_user|json_script:"ratings_per_user" }}

<!-- -->
{{ ratings_per_tag|json_script:"ratings_per_tag" }}


<h1>Ratings Sumamry</h1>

{% comment %} <div id='filter-ratings-form'>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div> {% endcomment %}

{% if page_obj %}

<div class='container-fluid' style="padding: 25px">

    <div class='row'>

        <div class='col'>
            <div id="chart-ratings-by-user" style="min-width: 600px; height: 500px;"></div>

        </div>

        <div class='col'>

            <div id="chart-ratings-by-classification" style="min-width: 600px; height: 500px;"></div>

        </div>

        {% comment %} <div class='col'>

            <div id="chart-candidates-rated-vs-unrated-{{ project.id }}" style="width: 600px; height: 400px;"></div>

        </div> {% endcomment %}

    </div>

</div>

<!-- CSV Download Button -->
{% if user.is_staff %}
<div id='ratings-download-button'>
    <a href="?download=csv" class="btn btn-success">
        RATINGS CSV
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
            <path
                d="M11.292 16.706a1 1 0 0 0 1.416 0l3-3a1 1 0 0 0-1.414-1.414L13 13.586V4a1 1 0 0 0-2 0v9.586l-1.293-1.293a1 1 0 0 0-1.414 1.414zM17 19H7a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2z"
                style="fill: #1c1b1e" />
        </svg>
    </a>
</div>
{% endif %}

<div id='ratings-table'>

    <div id='ratings-download-button'>

    </div>

    <div class="container-fluid" style="width: 80vw">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th></th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 0, 'string')">Project</th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 1, 'string')">Hash ID</th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 2, 'string')">Candidate</th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 3, 'string')">Rating</th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 4, 'string')">Tags</th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 5, 'string')">User</th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 6, 'date')">Date</th>
                    <th scope="col" onclick="sortTable('rating-summary-table-body', 7, 'string')">Notes</th>
                </tr>
            </thead>
            <tbody id='rating-summary-table-body'>
                {% for rating in ratings %}
                <tr>
                    <td>

                        <button class="btn btn-danger btn-sm"
                            onclick="deleteRating('{{rating.candidate.name}}', '{{rating.tag}}', '{{ rating.hash_id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                <path
                                    d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z" />
                            </svg>
                        </button>
                    </td>
                    <td>{{ rating.candidate.project.id }}</td>
                    <td>{{ rating.hash_id }}</td>
                    <td>{{ rating.candidate.name }}</td>
                    <td>{{ rating.rating|get_label_mapping:CONFIDENCE_MAPPING }}</td>
                    <td>{{ rating.tag }}</td>
                    <td>{{ rating.user }}</td>
                    <td>{{ rating.date|isoformat }}</td>
                    <td></text style="max-width: 300px;">{{ rating.notes }}</text></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "candidate_app/pagination.html" %}

{% else %}

<h2>No ratings found!</h2>

Start rating some candidates!

{% endif %}

<script type="text/javascript">
    // Data for the chart by user
    let ratingsByUsers = JSON.parse(document.getElementById("ratings_per_user").textContent);
    let ratingsByTags = JSON.parse(document.getElementById("ratings_per_tag").textContent);

    // Initialize chart for ratings by user
    let chartRatingsByUser = echarts.init(document.getElementById('chart-ratings-by-user'));
    let userNames = ratingsByUsers.map(item => item.user__username);
    let userCounts = ratingsByUsers.map(item => item.count);

    let optionRatingsByUser = {
        animation: false,
        title: {
            text: 'Ratings per User'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: userNames
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'bar',
            data: userCounts
        }]
    };
    chartRatingsByUser.setOption(optionRatingsByUser);

    // Add event listener for window resize
    window.addEventListener("resize", () => {
        chartRatingsByUser.resize();
    });

    // Initialize chart for ratings by classification
    let chartRatingsByClassification = echarts.init(document.getElementById('chart-ratings-by-classification'));
    let classificationNames = ratingsByTags.map(item => item.tag__name);
    let classificationCounts = ratingsByTags.map(item => item.count);

    let optionRatingsByClassification = {
        animation: false,
        title: {
            text: 'Ratings per Classification'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: classificationNames
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            type: 'bar',
            data: classificationCounts
        }]
    };
    chartRatingsByClassification.setOption(optionRatingsByClassification);

    // Add event listener for window resize
    window.addEventListener("resize", () => {
        chartRatingsByClassification.resize();
    });
</script>

<script>
    // Function to delete an observation from the DB. 
    function deleteRating(candidateName, ratingTag, hashId) {
        let confirmStr =
            `Are you sure you want to delete the rating for candidate "${candidateName}" of tag "${ratingTag}" - rating.hash_id "${hashId}" ?`;
        if (confirm(confirmStr)) {
            // Send AJAX post request to the delete URL.
            $.ajax({
                url: '{% url "delete" %}',
                type: "POST",
                data: {
                    hashId: hashId,
                    recordType: "rating",
                    csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                    console.log(response);
                    alert(
                        `Successfully deleted the rating for "${candidateName}" "${ratingTag}" from the DB ${response["deleted_hashId"]}`
                    );
                    location.reload()
                },
                error: function (error) {
                    // Handle error response
                    alert(`Error deleting rating for ${candidateName}: ${error.responseText}`);
                },
            });
        }
    }
</script>

{% endblock %}