{% extends 'candidate_app/header.html' %}

{% load utils %}

{% block content %}

<style>
    .disk-space-container {
        padding-top: 20px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: -50px;
    }

    #diskSpaceBar {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
    }

    #diskSpaceBar rect {
        border-radius: 15px;
        height: 50px;
    }

    #diskSpaceBar .background-bar {
        border-radius: 15px;
        fill: lightgray;
    }

    #diskSpaceBar .foreground-bar {
        border-radius: 15px;
        fill: #007bff;
    }

    #diskSpaceBar .project-bar {
        position: absolute;
        height: 50px;
    }
</style>

{% if user.is_staff %}

<title>Site Admin</title>
<h1>Site Admin</h1>

<div class='vstack gap-2'>

    <div class="d-flex justify-content-center align-items-center" style='padding-top: 20px;'>
        <h4>Total disk space used on host: {{ used_disk_space|floatformat:1 }} Gb of
            {{ total_disk_space|floatformat:1 }} Gb</h4>
    </div>

    <div class="d-flex justify-content-center align-items-center">

        {% comment %} <div class="disk-space-container">
            <svg id="diskSpaceBar">
                <!-- Background bar -->
                <rect class="background-bar" width="100%" height="50" />
                <!-- Foreground bar (initially hidden) -->
                <rect id="usedSpaceBar" class="foreground-bar" width="0" height="50" />
                <!-- Project bars -->
                {% for item in annotated_projects %}
                <rect class="project-bar" style="fill: {{ item.project_colour }};" width="0" height="50"
                    data-width="{{ item.project_used_of_total }}" />
                {% endfor %}
            </svg>
        </div> {% endcomment %}

        <div class="disk-space-container">
            <svg id="diskSpaceBar">
                <!-- Background bar -->
                <rect class="background-bar" width="100%" height="50" />
                <!-- Foreground bar (initially hidden) -->
                <rect id="usedSpaceBar" class="foreground-bar" width="0" height="50" />
            </svg>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get parameters from URL
        let usedSpace = parseFloat('{{ used_disk_space }}') || 0;
        let totalSpace = parseFloat('{{ total_disk_space }}') || 1; // Avoid division by zero

        // Calculate the width of the used space bar
        let usedSpaceWidth = (usedSpace / totalSpace) * 100; // Scale to percentage

        // Set the width of the used space bar
        document.getElementById('usedSpaceBar').setAttribute('width', usedSpaceWidth + '%');

        // Set the width of each project bar
        document.querySelectorAll('.project-bar').forEach(function (bar) {
            let projectWidth = parseFloat(bar.getAttribute('data-width')) || 0;
            bar.setAttribute('width', projectWidth + '%');
        });
    });
</script>

<hr />

<h3>Projects</h3>

<div class='container-fluid'>

    <!-- Display the space used for each project and observation -->
    {% for item in annotated_projects %}

    <div id='project-{{item.project}}' class='row mb-3'>
        <div class='hstack gap'>
            <h4 style="margin: 20px;">{{item.project.id}} - used {{ item.project.total_file_size_gb|floatformat:2 }} Gb
            </h4>
            <button class="btn btn-danger"
                onclick="deleteRecords('{{item.project.id}}', '{{ item.project.hash_id }}', 'project')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                    <path
                        d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z" />
                </svg>
            </button>
        </div>
        <div class='hstack gap-3'>
            <div class='container-fluid'>

                <table class="table table-striped table-bordered table-hover justify-content-center align-items-center">
                    <thead class='table-primary'>
                        <tr>
                            <th></th>
                            <th>Obs ID</th>
                            <th>Uploaded by</th>
                            <th>Upload date</th>
                            <th># Beams</th>
                            <th># Candidates</th>
                            <th># Rated Candidates</th>
                            <th>Space used (Gb)</th>
                            <th># Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obs in item.observations %}
                        <tr>
                            <td class='d-flex justify-content-center align-items-center'>
                                <button class="btn btn-danger btn-sm"
                                    onclick="deleteRecords('{{obs.id}}', '{{ obs.hash_id }}', 'observation')">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                                        <path
                                            d="M5.755,20.283,4,8H20L18.245,20.283A2,2,0,0,1,16.265,22H7.735A2,2,0,0,1,5.755,20.283ZM21,4H16V3a1,1,0,0,0-1-1H9A1,1,0,0,0,8,3V4H3A1,1,0,0,0,3,6H21a1,1,0,0,0,0-2Z" />
                                    </svg>
                                </button>
                            </td>
                            <td>{{ obs.id }}</td>
                            <td>{{ obs.upload.user }}</td>
                            <td>{{ obs.upload.date|isoformat }}</td>
                            <td>{{ obs.beam_obs.all|length }}</td>
                            <td>{{ obs.candidate_count }}</td>
                            <td>{{ obs.rated_candidate_count }}</td>
                            <td>{{ obs.total_file_size_gb|floatformat:2 }}</td>
                            <td>{{ obs.total_file_count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>

    </div>
    {% endfor %}

</div>

{% endif %}

<script>
    // Function to delete an observation from the DB.
    function deleteRecords(Id, hashId, recordType) {
        let confirmStr =
            `Are you sure you want to delete all records and files under ${recordType} - "${Id}" - "${hashId}" ?`;
        if (confirm(confirmStr)) {
            // Send AJAX post request to the delete URL.
            $.ajax({
                url: '{% url "delete" %}',
                type: "POST",
                data: {
                    hashId: hashId,
                    recordType: recordType,
                    csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                    console.log(response);
                    alert(`Successfully deleted ${recordType} from the DB ${response["deleted_hashId"]}`);
                    location.reload()
                },
                error: function (error) {
                    // Handle error response
                    alert(`Error deleting ${recordType}: ${error.responseText}`);
                },
            });
        }
    }
</script>

{% endblock %}